<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagination</title>

    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="pagination">
      <button class="btn nav-previous">
        <img src="img/left-caret.svg" alt="left caret" />
      </button>
      <div class="pages">
        <button class="btn page-btn page-btn-current">1</button>
        <button class="btn page-btn">2</button>
        <button class="btn page-btn">3</button>
        <button class="btn page-btn">4</button>
        <button class="btn page-btn">5</button>
        <button class="btn page-btn">6</button>
        <button class="btn page-btn">7</button>
        <button class="btn page-btn">8</button>
      </div>
      <button class="btn nav-next">
        <img src="img/right-caret.svg" alt="right caret" />
      </button>
    </div>
  </body>
</html>
