<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordian</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="accordian">
      <div class="item">
        <p class="header-text">Who are we?</p>
        <svg
          class="header-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="192"
          height="192"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none"></rect>
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="#000000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></polyline>
        </svg>
        <div class="hidden-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quos
            laboriosam sed, natus et architecto magnam deserunt quam
            perspiciatis, incidunt ipsum accusamus! Autem asperiores animi eaque
            excepturi, necessitatibus totam incidunt.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            perspiciatis voluptate. Incidunt, dignissimos deleniti? Ratione
            exercitationem dolorem dicta eos numquam iure vero, minima doloribus
            molestiae eligendi ut ipsum natus autem.
          </p>
          <ul>
            <li>
              Alias non nostrum deleniti voluptas soluta, quas cupiditate.
            </li>
            <li>Sunt suscipit delectus molestiae consequuntur et cum.</li>
            <li>
              Facilis earum placeat cumque dolor nam, doloribus consectetur
              accusamus excepturi voluptate assumenda soluta tempore.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="header-text">What do we do?</p>
        <svg
          class="header-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="192"
          height="192"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none"></rect>
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="#000000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></polyline>
        </svg>
        <div class="hidden-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quos
            laboriosam sed, natus et architecto magnam deserunt quam
            perspiciatis, incidunt ipsum accusamus! Autem asperiores animi eaque
            excepturi, necessitatibus totam incidunt.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            perspiciatis voluptate. Incidunt, dignissimos deleniti? Ratione
            exercitationem dolorem dicta eos numquam iure vero, minima doloribus
            molestiae eligendi ut ipsum natus autem.
          </p>
          <ul>
            <li>
              Alias non nostrum deleniti voluptas soluta, quas cupiditate.
            </li>
            <li>Sunt suscipit delectus molestiae consequuntur et cum.</li>
            <li>
              Facilis earum placeat cumque dolor nam, doloribus consectetur
              accusamus excepturi voluptate assumenda soluta tempore.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="header-text">Why should you choose us?</p>
        <svg
          class="header-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="192"
          height="192"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none"></rect>
          <polyline
            points="208 96 128 176 48 96"
            fill="none"
            stroke="#000000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></polyline>
        </svg>
        <div class="hidden-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quos
            laboriosam sed, natus et architecto magnam deserunt quam
            perspiciatis, incidunt ipsum accusamus! Autem asperiores animi eaque
            excepturi, necessitatibus totam incidunt.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            perspiciatis voluptate. Incidunt, dignissimos deleniti? Ratione
            exercitationem dolorem dicta eos numquam iure vero, minima doloribus
            molestiae eligendi ut ipsum natus autem.
          </p>
          <ul>
            <li>
              Alias non nostrum deleniti voluptas soluta, quas cupiditate.
            </li>
            <li>Sunt suscipit delectus molestiae consequuntur et cum.</li>
            <li>
              Facilis earum placeat cumque dolor nam, doloribus consectetur
              accusamus excepturi voluptate assumenda soluta tempore.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
