/* 

  Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 256 

  Font Size System (rem) base = 16px
  1 / 1.2 / 1.44 / 1.728 / 2.074 / 2.488 / 2.986 / 3.583

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #343a40;
}

.accordian {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.14); */
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center;

  transition: box-shadow 0.3s ease;
}

.header-text {
  font-size: 1.728rem;
  font-weight: 600;
}

.header-icon {
  width: 1.728rem;
  height: auto;
  transform: rotate(90deg);

  transition: transform 0.3s ease;
}

.hidden-content {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.44;
  margin: 8px;

  height: 0;
  overflow: hidden;

  transition: height 0.3s ease;

  /* display: none; */
}

.hidden-content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #868e96;
  line-height: 1.2;
  margin-left: 24px;
}

.open {
  /* box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); */
}

.open .header-icon {
  transform: rotate(0deg);
}

.open .hidden-content {
  /* display: flex; */
  height: 300px;
  overflow-y: scroll;
}
