<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />

    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="carousel">
      <div class="track-container">
        <ul class="track">
          <li class="slide">
            <div class="content">
              <div class="content-header">
                <h1>Hello Content 1</h1>
              </div>
              <div class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestiae ratione pariatur accusantium expedita itaque
                necessitatibus.

                <ul>
                  <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </li>
                  <li>
                    Sed officiis iusto maxime, sequi error omnis esse veniam
                  </li>
                  <li>
                    Consequatur dignissimos totam minus quasi necessitatibus
                  </li>
                </ul>
              </div>
            </div>
            <div class="image-container">
              <img src="img/image1.jpg" alt="iguazu falls scenery" />
            </div>
          </li>
          <li class="slide">
            <div class="content">
              <div class="content-header">
                <h1>Hello Content 2</h1>
              </div>
              <div class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestiae ratione pariatur accusantium expedita itaque
                necessitatibus.

                <ul>
                  <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </li>
                  <li>
                    Sed officiis iusto maxime, sequi error omnis esse veniam
                  </li>
                  <li>
                    Consequatur dignissimos totam minus quasi necessitatibus
                  </li>
                </ul>
              </div>
            </div>
            <div class="image-container">
              <img src="img/image2.jpg" alt="tokyo japan river urban scenery" />
            </div>
          </li>
          <li class="slide">
            <div class="content">
              <div class="content-header">
                <h1>Hello Content 3</h1>
              </div>
              <div class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestiae ratione pariatur accusantium expedita itaque
                necessitatibus.

                <ul>
                  <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </li>
                  <li>
                    Sed officiis iusto maxime, sequi error omnis esse veniam
                  </li>
                  <li>
                    Consequatur dignissimos totam minus quasi necessitatibus
                  </li>
                </ul>
              </div>
            </div>
            <div class="image-container">
              <img src="img/image3.jpg" alt="japan country side scenery" />
            </div>
          </li>
        </ul>
      </div>

      <button class="carousel-btn previous-btn">
        <img
          src="img/left-caret.svg"
          alt="left caret"
          class="carousel-btn-caret"
        />
      </button>
      <button class="carousel-btn next-btn">
        <img
          src="img/right-caret.svg"
          alt="right caret"
          class="carousel-btn-caret"
        />
      </button>
    </div>
  </body>
</html>
